# <font color=green size=10>CURSO DE ESTATÍSTICA - PARTE 3</font>

***

# <font color=green>1 CONHECENDO OS DADOS</font>
***

## <font color=green>1.1 Dataset do projeto</font>
***

### Pesquisa Nacional por Amostra de Domicílios - 2015

A <b>Pesquisa Nacional por Amostra de Domicílios - PNAD</b> investiga anualmente, de forma permanente, características gerais da população, de educação, trabalho, rendimento e habitação e outras, com periodicidade variável, de acordo com as necessidades de informação para o país, como as características sobre migração, fecundidade, nupcialidade, saúde, segurança alimentar, entre outros temas. O levantamento dessas estatísticas constitui, ao longo dos 49 anos de realização da pesquisa, um importante instrumento para formulação, validação e avaliação de políticas orientadas para o desenvolvimento socioeconômico e a melhoria das condições de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

### Variáveis utilizadas

> ### Renda
> ***

Rendimento mensal do trabalho principal para pessoas de 10 anos ou mais de idade.

> ### Idade
> ***

Idade do morador na data de referência em anos.

> ### Altura (elaboração própria)
> ***

Altura do morador em metros.

> ### UF
> ***

|Código|Descrição|
|---|---|
|11|Rondônia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Pará|
|16|Amapá|
|17|Tocantins|
|21|Maranhão|
|22|Piauí|
|23|Ceará|
|24|Rio Grande do Norte|
|25|Paraíba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Espírito Santo|
|33|Rio de Janeiro|
|35|São Paulo|
|41|Paraná|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goiás|
|53|Distrito Federal|

> ### Sexo	
> ***

|Código|Descrição|
|---|---|
|0|Masculino|
|1|Feminino|

> ### Anos de Estudo
> ***

|Código|Descrição|
|---|---|
|1|Sem instrução e menos de 1 ano|
|2|1 ano|
|3|2 anos|
|4|3 anos|
|5|4 anos|
|6|5 anos|
|7|6 anos|
|8|7 anos|
|9|8 anos|
|10|9 anos|
|11|10 anos|
|12|11 anos|
|13|12 anos|
|14|13 anos|
|15|14 anos|
|16|15 anos ou mais|
|17|Não determinados| 
||Não aplicável|

> ### Cor
> ***

|Código|Descrição|
|---|---|
|0|Indígena|
|2|Branca|
|4|Preta|
|6|Amarela|
|8|Parda|
|9|Sem declaração|

#### <font color='red'>Observação</font>
***
> Os seguintes tratamentos foram realizados nos dados originais:
> 1. Foram eliminados os registros onde a <b>Renda</b> era inválida (999 999 999 999);
> 2. Foram eliminados os registros onde a <b>Renda</b> era missing;
> 3. Foram considerados somente os registros das <b>Pessoas de Referência</b> de cada domicílio (responsável pelo domicílio).

### Importando pandas e lendo o dataset do projeto

https://pandas.pydata.org/

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dados = pd.read_csv('dados.csv')

In [ ]:
dados.head()

# <font color=green>2 TESTES DE HIPÓTESES</font>
***

Testes estatísticos são regras de decisão que permitem avaliar a razoabilidade das hipóteses feitas sobre os parâmetros populacionais e aceitá-las ou rejeitá-las como provavelmente verdadeiras ou falsas tendo como base uma amostra.

## <font color=green>2.1 Teste de normalidade</font>
***

### Importando bibliotecas
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.normaltest.html

In [ ]:
from scipy.stats import normaltest

A função *normaltest* testa a hipótese nula $H_0$ de que a amostra é proveniente de uma distribuição normal.

### Definindo a significância do teste ($\alpha$)

In [ ]:
significancia = 0.05

### Testando a variável Renda

In [ ]:
dados.Renda.hist(bins=50)

### <font color='red'>Critério do valor $p$</font>

> ### Rejeitar $H_0$ se o valor $p\leq 0,05$

In [ ]:
stat_test, p_valor = normaltest(dados.Renda)
print(stat_test)
print(p_valor)

In [ ]:
p_valor <= significancia

$H_0$: A amostra é proveniente de uma distribuição normal.
$H_1$: A amostra *NÃO* é proveniente de uma distribuição normal.

Como o `p_value` é Menor do que 0,05 `Rejeita-se` H0 (que a amostra pertence a uma distribuição normal) e aceita-se a hipótese alternativa (que a amostra *não* pertence a uma distribuição normal)

### Testando a variável Altura

In [ ]:
dados.Altura.hist(bins=50)

### <font color='red'>Critério do valor $p$</font>

> ### Rejeitar $H_0$ se o valor $p\leq 0,05$

In [ ]:
stat_test, p_valor = normaltest(dados.Altura)
print(stat_test)
print(p_valor)

In [ ]:
p_valor <= significancia

$H_0$: A amostra é proveniente de uma distribuição normal.
$H_1$: A amostra *NÃO* é proveniente de uma distribuição normal.

Como o `p_value` é Maior do que 0,05 `Aceita-se` H0 (que a amostra pertence a uma distribuição normal) e rejeita-se a hipótese alternativa (que a amostra *não* pertence a uma distribuição normal)

## <font color=green>2.2 Etapas Básicas de um Teste</font>
***

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$;

> ### <font color='red'>Pontos importantes</font>
> - De maneira geral, o alvo do estudo deve ser formulado como a hipótese alternativa $H_1$.
> - A hipótese nula sempre afirma uma igualdade ou propriedade populacional, e $H_1$ a desigualdade que nega $H_0$.
> - No caso da hipótese nula $H_0$ a igualdade pode ser representada por uma igualdade simples "$=$" ou por "$\geq$" e "$\leq$". Sempre complementar ao estabelecido pela hipótese alternativa.
> - A hipótese alternativa $H_1$ deve definir uma desigualdade que pode ser uma diferença simples "$\neq$" ou dos tipos "$>$" e "$<$".


### **Passo 2** - escolha da distribuição amostral adequada;

> ### <font color='red'>Pontos importantes</font>
> - Quando o tamanho da amostra tiver 30 elementos ou mais, deve-se utilizar a distribuição normal, como estabelecido pelo **teorema do limite central**.
> - Para um tamanho de amostra menor que 30 elementos, e se pudermos afirmar que a população se distribui aproximadamente como uma normal e o desvio padrão populacional for conhecido, deve-se utilizar a distribuição normal.
> - Para um tamanho de amostra menor que 30 elementos, e se pudermos afirmar que a população se distribui aproximadamente como uma normal e o desvio padrão populacional for desconhecido, deve-se utilizar a distribuição t de Student.

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img003.png' width=70%>

### **Passo 3** - fixação da significância do teste ($\alpha$), que define as regiões de aceitação e rejeição das hipóteses (os valores mais freqüentes são 10%, 5% e 1%);

> ### <font color='red'>Pontos importantes</font>
> - O **nível de confiança** ($1 - \alpha$) representa a probabilidade de acerto da estimativa. De forma complementar o **nível de significância** ($\alpha$) expressa a probabilidade de erro da estimativa.
>
> ![Níveis de Confiança e significância](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img001.png)
>
> - O **nível de confiança** representa o grau de confiabilidade do resultado da estimativa estar dentro de determinado intervalo. Quando fixamos em uma pesquisa um **nível de confiança** de 95%, por exemplo, estamos assumindo que existe uma probabilidade de 95% dos resultados da pesquisa representarem bem a realidade, ou seja, estarem corretos.
>
> ![Áreas de Aceitação e Rejeição](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img002.png)

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste;

> ### <font color='red'>Pontos importantes</font>
> - Nos testes paramétricos, distância relativa entre a estatística amostral e o valor alegado como provável.
> - Neste passo são obtidas as estatísticas amostrais necessárias à execução do teste (média, desvio-padrão, graus de liberdade etc.)


### **Passo 5** - Aceitação ou rejeição da hipótese nula.

> ### <font color='red'>Pontos importantes</font>
> - No caso de o intervalo de aceitação conter a estatística-teste, aceita-se $H_0$ como estatisticamente válido e rejeita-se $H_1$ como tal.
> - No caso de o intervalo de aceitação não conter a estatística-teste, rejeita-se $H_0$ e aceita-se $H_1$ como provavelmente verdadeira. 
> - A aceitação também se verifica com a probabilidade de cauda (p-valor): se maior que $\alpha$, aceita-se $H_0$.

---

# <font color=green>3 TESTES PARAMÉTRICOS</font>
***

Quando um teste assume determinadas premissas sobre como os parâmetros de uma população se distribuem, estamos trabalhando com **Testes Paramétricos**.

## <font color=green>3.1 Teste Bicaudal</font>
***

## <font color='red'>Problema</font>

A empresa **Suco Bom** produz **sucos de frutas em embalagens de 500 ml**. Seu processo de produção é quase todo automatizado e as embalagens de sucos são preenchidas por uma máquina que às vezes apresenta um certo desajuste, levando a erros no preenchimento das embalagens para mais ou menos conteúdo. Quando o volume médio cai abaixo de 500 ml, a empresa se preocupa em perder vendas e ter problemas com os orgãos fiscalizadores. Quando o volume passa de 500 ml, a empresa começa a se preocupar com prejuízos no processo de produção.

O setor de controle de qualidade da empresa **Suco Bom** extrai, periodicamente, **amostras de 50 embalagens** para monitorar o processo de produção. Para cada amostra, é realizado um **teste de hipóteses** para avaliar se o maquinário se desajustou. A equipe de controle de qualidade assume um **nível de significância de 5%**.

Suponha agora que uma **amostra de 50 embalagens** foi selecionada e que a **média amostral observada foi de 503,24 ml**. **Esse valor de média amostral é suficientemente maior que 500 ml para nos fazer rejeitar a hipótese de que a média do processo é de 500 ml ao nível de significância de 5%?**

---

O **teste bicaudal** é muito utilizado em **testes de qualidade**, como o apresentado em nosso problema acima. Outro exemplo é a avaliação de peças que devem ter um encaixe perfeito (porcas e parafusos, chaves e fechaduras).

![Teste Bicaudal](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img005.png)

---

### Dados do problema

In [ ]:
amostra = [509, 505, 495, 510, 496, 509, 497, 502, 503, 505, 
           501, 505, 510, 505, 504, 497, 506, 506, 508, 505, 
           497, 504, 500, 498, 506, 496, 508, 497, 503, 501, 
           503, 506, 499, 498, 509, 507, 503, 499, 509, 495, 
           502, 505, 504, 509, 508, 501, 505, 497, 508, 507]

In [ ]:
amostra = pd.DataFrame(amostra, columns=['Amostra'])
amostra.head()

In [ ]:
media_amostra = amostra.mean()[0]
media_amostra

In [ ]:
desvio_padrao_amostra = amostra.std()[0]
desvio_padrao_amostra

amostra = pd.DataFrame(amostra, columns=['Amostra'])
amostra.head()

In [ ]:
media = 500
significancia = 0.05
confianca = 1 - significancia
n = 50

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$

#### <font color='red'>Lembre-se, a hipótese nula sempre contém a alegação de igualdade</font>

### $H_0: \mu = 500$

### $H_1: \mu \neq 500$

---

### **Passo 2** - escolha da distribuição amostral adequada
<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img003.png' width=70%>

### O tamanho da amostra é maior que 30?
#### Resp.: Sim

### O desvio padrão populacional é conhecido?
#### Resp.: Não

---

### **Passo 3** - fixação da significância do teste ($\alpha$)

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.norm.html

In [ ]:
from scipy.stats import norm

In [ ]:
probabilidade = (0.5 + (confianca / 2))
probabilidade

### Obtendo $z_{\alpha/2}$

In [ ]:
z_alpha_2 = norm.ppf(probabilidade)
z_alpha_2

![Região de Aceitação](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img006.png)

---

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$z = \frac{\bar{x} - \mu_0}{\frac{s}{\sqrt{n}}}$$

In [ ]:
z = (media_amostra - media) / (desvio_padrao_amostra / np.sqrt(n))
z

![Estatística-Teste](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img007.png)

---

### **Passo 5** - Aceitação ou rejeição da hipótese nula

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img013.png' width=90%>

### <font color='red'>Critério do valor crítico</font>

> ### Teste Bicaudal
> ### Rejeitar $H_0$ se $z \leq -z_{\alpha / 2}$ ou se $z \geq z_{\alpha / 2}$

In [ ]:
z <= -z_alpha_2

In [ ]:
z >= z_alpha_2

### <font color='green'>Conclusão: Como a média amostral $\bar{x}$ é significativamente maior que 500 ml, rejeitamos $H_0$. Neste caso, devem ser tomadas providências para ajustar o maquinário que preenche as embalagens.</font>

Um fabricante de farinha afirma que a quantidade média de farinha nas embalagens de seu principal produto é de 500 g. Um teste de pesagem em 30 embalagens amostradas ao acaso mostrou um peso médio igual à 485 g. Estudos anteriores afirmam que a distribuição dos pesos segue uma normal e que o desvio padrão populacional é igual a 20 g. Considerando um nível de significância igual a 5%, responda as seguintes questões:

1) Qual a hipótese nula a ser testada?

2) Qual o valor da estatística de teste?

3) Qual a conclusão do teste?

In [ ]:
media_amostra = 485
desvio_padrao = 20
media = 500
significancia = 0.05
confianca = 1 - significancia
n = 30

probabilidade = (0.5 + (confianca / 2))
z_alpha_2 = norm.ppf(probabilidade)

z = (media_amostra - media) / (desvio_padrao / np.sqrt(n))

print(f'A média é: {media}')
print('z = ', round(z, 4))
if(z <= -z_alpha_2 or z >= z_alpha_2):
    print('Rejeitar H0')
else:
    print('Aceitar H0')

### <font color='red'>Critério do $p-valor$</font>

> ### Teste Bicaudal
> ### Rejeitar $H_0$ se o valor $p\leq\alpha$

In [ ]:
p_valor = 2*(1 - norm.cdf(z))
p_valor

In [ ]:
# Outra forma de calcular o p_valor - Multiplicar por 2, pois, é Bicaudal
# Verifica-se o valor aproximado ao cálculo da célula acima
p_valor = 2 * (norm.sf(z))
p_valor

In [ ]:
p_valor <= significancia

https://www.statsmodels.org/stable/generated/statsmodels.stats.weightstats.ztest.html

In [ ]:
# Calculando o P-VALOR de maneira mais fácil
from statsmodels.stats.weightstats import ztest

In [ ]:
# A primeira saída é a estatística de teste e a segunda é o P-Valor
ztest(x1 = amostra, value = media)

https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.DescrStatsW.html

In [ ]:
# Outra forma de calcular o p-valor com o statsmodels
from statsmodels.stats.weightstats import DescrStatsW

In [ ]:
# Para usar a ferramenta acima primeiro é necessário criar um objeto DescrStatsW
test = DescrStatsW(amostra)

In [ ]:
# Similarmente ao teste anterior o primeiro resultado é a estatística do deste e  o segundo o p-valor
test.ztest_mean(value = media)

In [ ]:
# Para separar os valores é possível armazenálos em 2 variáveis
z, p_valor = test.ztest_mean(value = media)
print(z[0])
print(p_valor[0])

---

## <font color=green>3.2 Teste Unicaudal</font>
***

## <font color='red'>Problema</font>

Um famoso fabricante de refrigerantes alega que uma lata de 350 ml de seu principal produto contém, **no máximo**, **37 gramas de açúcar**. Esta alegação nos leva a entender que a quantidade média de açúcar em uma lata de refrigerante deve ser **igual ou menor que 37 g**.

Um consumidor desconfiado e com conhecimentos em inferência estatística resolve testar a alegação do fabricante e seleciona, aleatóriamente, em um conjunto de estabelecimentos distintos, **uma amostra de 25 latas** do refrigerante em questão. Utilizando o equipamento correto o consumidor obteve as quantidades de açúcar em todas as 25 latas de sua amostra. 

**Assumindo que essa população se distribua aproximadamente como uma normal e considerando um nível de significância de 5%, é possível aceitar como válida a alegação do fabricante?**

### Construindo tabela $t$ de Student
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.t.html

In [25]:
import pandas as pd
from scipy.stats import t as t_student

tabela_t_student = pd.DataFrame(
    [],
    index = [i for i in range(1,31)],
    columns = [i / 100 for i in range(10, 0, -1)]
)

for index in tabela_t_student.index:
    for colum in tabela_t_student.columns:
        tabela_t_student.loc[index, colum] = t_student.ppf(1 -float(colum) / 2, index)

index = [('Graus de Liberdade (n - 1)', i) for i in range(1, 31)]
tabela_t_student.index = pd.MultiIndex.from_tuples(index)

columns = [("{0:0.3f}".format(i/ 100), "{0:0.3f}".format(i/ 100 / 2)) for i in range(10, 0, -1)]
tabela_t_student.columns = pd.MultiIndex.from_tuples(columns)

tabela_t_student.rename_axis(['Bicaudal', 'Unicaudal'], axis=1, inplace = True)

tabela_t_student

Bicaudal                          0.100     0.090     0.080     0.070  \
Unicaudal                         0.050     0.045     0.040     0.035
Graus de Liberdade (n - 1) 1   6.313752  7.026366  7.915815  9.057887
                           2   2.919986  3.103977  3.319764  3.578247
                           3   2.353363  2.470807  2.605427  2.762599
                           4   2.131847    2.2261  2.332873  2.455892
                           5   2.015048  2.097837  2.190958  2.297392
                           6    1.94318  2.019201  2.104306  2.201059
                           7   1.894579  1.966153  2.046011  2.136453
                           8   1.859548  1.927986  2.004152  2.090166
                           9   1.833113  1.899222  1.972653  2.055395
                           10  1.812461  1.876774  1.948099  2.028327
                           11  1.795885  1.858772  1.928427  2.006663
                           12  1.782288  1.844015  1.912313  1.988934
                           13  1.770933    1.8317  1.898874  1.974158
                           14   1.76131  1.821267  1.887496  1.961656
                           15   1.75305  1.812316  1.877739   1.95094
                           16  1.745884  1.804553  1.869279  1.941654
                           17  1.739607  1.797755  1.861875   1.93353
                           18  1.734064  1.791754   1.85534  1.926362
                           19  1.729133  1.786417   1.84953  1.919992
                           20  1.724718   1.78164  1.844331  1.914292
                           21  1.720743  1.777339  1.839651  1.909164
                           22  1.717144  1.773447  1.835417  1.904524
                           23  1.713872  1.769907  1.831567  1.900307
                           24  1.710882  1.766675  1.828051  1.896457
                           25  1.708141  1.763711  1.824828  1.892928
                           26  1.705618  1.760983  1.821863  1.889682
                           27  1.703288  1.758466  1.819126  1.886686
                           28  1.701131  1.756134  1.816592  1.883912
                           29  1.699127  1.753968  1.814238  1.881336
                           30  1.697261  1.751952  1.812047  1.878938

Bicaudal                           0.060      0.050      0.040      0.030  \
Unicaudal                          0.030      0.025      0.020      0.015
Graus de Liberdade (n - 1) 1   10.578895  12.706205  15.894545  21.204949
                           2    3.896425   4.302653   4.848732   5.642778
                           3     2.95051   3.182446   3.481909   3.896046
                           4    2.600762   2.776445   2.998528    3.29763
                           5    2.421585   2.570582   2.756509   3.002875
                           6    2.313263   2.446912   2.612242   2.828928
                           7    2.240879   2.364624   2.516752   2.714573
                           8    2.189155   2.306004   2.448985   2.633814
                           9    2.150375   2.262157   2.398441   2.573804
                           10   2.120234   2.228139   2.359315   2.527484
                           11   2.096139   2.200985    2.32814   2.490664
                           12   2.076441   2.178813   2.302722     2.4607
                           13   2.060038   2.160369   2.281604   2.435845
                           14   2.046169   2.144787   2.263781   2.414898
                           15   2.034289    2.13145    2.24854   2.397005
                           16      2.024   2.119905   2.235358   2.381545
                           17   2.015002   2.109816   2.223845   2.368055
                           18   2.007067   2.100922   2.213703    2.35618
                           19   2.000017   2.093024   2.204701   2.345648
                           20   1.993713   2.085963   2.196658   2.336242
                           21   1.988041   2.079614   2.189427   2.327792
                           22   1.982911   2.073873   2.182893    2.32016
                           23   1.978249   2.068658   2.176958   2.313231
                           24   1.973994   2.063899   2.171545   2.306913
                           25   1.970095   2.059539   2.166587    2.30113
                           26   1.966509   2.055529   2.162029   2.295815
                           27     1.9632   2.051831   2.157825   2.290914
                           28   1.960136   2.048407   2.153935    2.28638
                           29   1.957293    2.04523   2.150325   2.282175
                           30   1.954645   2.042272   2.146966   2.278262

Bicaudal                           0.020      0.010
Unicaudal                          0.010      0.005
Graus de Liberdade (n - 1) 1   31.820516  63.656741
                           2    6.964557   9.924843
                           3    4.540703   5.840909
                           4    3.746947   4.604095
                           5     3.36493   4.032143
                           6    3.142668   3.707428
                           7    2.997952   3.499483
                           8    2.896459   3.355387
                           9    2.821438   3.249836
                           10   2.763769   3.169273
                           11   2.718079   3.105807
                           12   2.680998    3.05454
                           13   2.650309   3.012276
                           14   2.624494   2.976843
                           15    2.60248   2.946713
                           16   2.583487   2.920782
                           17   2.566934   2.898231
                           18    2.55238    2.87844
                           19   2.539483   2.860935
                           20   2.527977    2.84534
                           21   2.517648    2.83136
                           22   2.508325   2.818756
                           23   2.499867   2.807336
                           24   2.492159    2.79694
                           25   2.485107   2.787436
                           26    2.47863   2.778715
                           27    2.47266   2.770683
                           28    2.46714   2.763262
                           29   2.462021   2.756386
                           30   2.457262   2.749996

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img004.png' width='250px'>

As células da tabela acima são valores de $t$ para uma área ou probabilidade na cauda superior da distribuição $t$.

---

Os **testes unicaudais** verificam as variáveis em relação a um piso ou a um teto e avaliam os valores máximos ou mínimos esperados para os parâmetros em estudo e a chance de as estatísticas amostrais serem inferiores ou superiores a dado limite.

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img008.png' width='700px'>

### Dados do problema

In [ ]:
amostra = [37.27, 36.42, 34.84, 34.60, 37.49,
           36.53, 35.49, 36.90, 34.52, 37.30,
           34.99, 36.55, 36.29, 36.06, 37.42,
           34.47, 36.70, 35.86, 36.80, 36.92,
           37.04, 36.39, 37.32, 36.64, 35.45]

In [ ]:
amostra = pd.DataFrame(amostra, columns = ['Amostra'])
amostra.head()

In [ ]:
media_amostra = amostra.mean()[0]
media_amostra

In [ ]:
desvio_padrao_amostra = amostra.std()[0]
desvio_padrao_amostra

In [ ]:
media = 37
significancia = 0.05
confianca = 1 - significancia
n = 25
graus_de_liberdade = n - 1

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$


#### <font color='red'>Lembre-se, a hipótese nula sempre contém a alegação de igualdade</font>

### $H_0: \mu \leq 37$

### $H_1: \mu > 37$

---

### **Passo 2** - escolha da distribuição amostral adequada
<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img003.png' width=70%>

### O tamanho da amostra é maior que 30?
#### Resp.: Não

### Podemos afirmar que a população se distribui aproximadamente como uma normal?
#### Resp.: Sim

### O desvio padrão populacional é conhecido?
#### Resp.: Não

---

### **Passo 3** - fixação da significância do teste ($\alpha$)

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.t.html

In [ ]:
from scipy.stats import t as t_student

In [ ]:
tabela_t_student[18:25]

### Obtendo $t_{\alpha}$

In [ ]:
t_alpha = t_student.ppf(confianca, graus_de_liberdade)
t_alpha

![Região de Aceitação](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img009.png)

---

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$t = \frac{\bar{x} - \mu_0}{\frac{s}{\sqrt{n}}}$$

In [ ]:
t = (media_amostra - media)/(desvio_padrao_amostra / np.sqrt(n))
t

![Estatística-Teste](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img010.png)

---

### **Passo 5** - Aceitação ou rejeição da hipótese nula

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img013.png' width=90%>

### <font color='red'>Critério do valor crítico</font>

> ### Teste Unicaudal Superior
> ### Rejeitar $H_0$ se $t \geq t_{\alpha}$

In [ ]:
t >= t_alpha

#### Exercício 1:

A empresa Limpa Esgoto....

In [ ]:
media = 150
media_amostra = 230
n = 20
desvio_padrao_amostra = 90
significancia = 0.05
confianca = 1 - significancia
graus_de_liberdade = n - 1


t_alpha = t_student.ppf(confianca, graus_de_liberdade)
print(f'O valor de t-Alpha é {t_alpha}')

t = (media_amostra - media)/(desvio_padrao_amostra / np.sqrt(n))
print(f'O valor de t é igua a {t}')

print(f'O valor de "t" é maior ou igual que t_alpha: {t >= t_alpha}')

### <font color='green'>Conclusão: Com um nível de confiança de 95% não podemos rejeitar $H_0$, ou seja, a alegação do fabricante é verdadeira.</font>

### <font color='red'>Critério do valor $p$</font>

> ### Teste Unicaudal Superior
> ### Rejeitar $H_0$ se o valor $p\leq\alpha$

In [ ]:
t

In [ ]:
# O p-valor deve ser igual ou menor que o nível de significância (0,05)
p_valor = t_student.sf(t, df = 24)
p_valor

In [ ]:
p_valor <= significancia

https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.DescrStatsW.html

In [ ]:
# Realizando o t-test com a biblioteca statsmodels
from statsmodels.stats.weightstats import DescrStatsW

In [ ]:
test = DescrStatsW(amostra)

In [ ]:
test.ttest_mean(value = media, alternative='larger')

In [ ]:
# Armazenando a saída acima em variáveis

estatistica, p_valor, graus_de_liberdade = test.ttest_mean(value = media, alternative='larger')
print(f'A estatística do teste é: {estatistica}')
print(f'O p-valor do teste é: {p_valor}')
print(f'Os graus de liberdade do teste são: {graus_de_liberdade}')

In [ ]:
p_valor[0] <= significancia

#### Exercício:

A pizzaria Muito Queijo...

In [ ]:
from scipy.stats import norm
import numpy as np

media = 350
n = 35
media_amostra = 330
desvio_padrao_amostra = 80
significancia = 0.05
confianca = 1 - significancia
graus_de_liberdade = n - 1

z_alpha = norm.ppf(confianca)

z = (media_amostra - media) / (desvio_padrao_amostra / np.sqrt(n))

print('z(alpha) =', round(z_alpha, 3))
print('z =', round(z, 3))
if(z <= -z_alpha):
    print('Rejeitar H0')
else:
    print('Aceitar H0')

---

## <font color=green>3.4 Testes para Duas Amostras</font>
***

## <font color='red'>Problema</font>

Em nosso dataset temos os rendimento dos chefes de domicílio obtidos da Pesquisa Nacional por Amostra de Domicílios - PNAD no ano de 2015. Um problema bastante conhecido em nosso país diz respeito a desigualdade de renda, principalmente entre homens e mulheres.

Duas amostras aleatórias, uma de **500 homens** e outra com **500 mulheres**, foram selecionadas em nosso dataset. Com o objetivo de comprovar tal desigualdade, **teste a igualdade das médias** entre estas duas amostras com um nível de **significância de 1%**.

---

É possível também utilizar testes de hipóteses para comparar duas diferentes amostras. Neste tipo de teste se deseja decidir se uma amostra é diferente da outra.

### Seleção das amostras

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('dados.csv')

In [ ]:
homens = dados.query('Sexo == 0').sample(n = 500, random_state = 101).Renda

In [ ]:
mulheres = dados.query('Sexo == 1').sample(n = 500, random_state = 101).Renda

### Dados do problema

In [ ]:
media_amostra_M = mulheres.mean()
media_amostra_M

In [ ]:
desvio_padrao_amostra_M = mulheres.std()
desvio_padrao_amostra_M

In [ ]:
media_amostra_H = homens.mean()
media_amostra_H

In [ ]:
desvio_padrao_amostra_H = homens.std()
desvio_padrao_amostra_H

In [ ]:
significancia = 0.01
confianca = 1 - significancia
n_M = 500
n_H = 500
D_0 = 0

---

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$

#### <font color='red'>Lembre-se, a hipótese nula sempre contém a alegação de igualdade</font>

### $\mu_1 \Rightarrow$ Média das rendas dos chefes de domicílios do sexo masculino
### $\mu_2 \Rightarrow$ Média das rendas dos chefes de domicílios do sexo feminino

### $
\begin{cases}
H_0: \mu_1 \leq \mu_2\\
H_1: \mu_1 > \mu_2
\end{cases}
$

### ou

### $
\begin{cases}
H_0: \mu_1 -\mu_2 \leq 0\\
H_1: \mu_1 -\mu_2 > 0
\end{cases}
$

mu1 = Média das rendas dos chefes de domicílios do sexo masculino

mu2 = Média das rendas dos chefes de domicílios do sexo feminino

(h1 - Hipótese alternativa)O teste consiste em verificar se a média da renda dos homens é maior que a média da renda das mulheres.

(h0) - A média das rendas é igual;

---

### **Passo 2** - escolha da distribuição amostral adequada
<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img003.png' width=70%>

### <font color='red'>Observação importante</font>
> Em testes que envolvam duas amostras com o emprego da tabela $t$ de Student, o número de graus de liberdade será sempre igual a $n_1 + n_2 - 2$

### O tamanho da amostra é maior que 30?
#### Resp.: Sim

### O desvio padrão populacional é conhecido?
#### Resp.: Não

---

### **Passo 3** - fixação da significância do teste ($\alpha$)

In [ ]:
from scipy.stats import norm

In [ ]:
# Como este problema não é bicaudal a probabilidade é igual a confiança, ou seja, 99%
probabilidade = confianca
probabilidade

In [ ]:
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.norm.html

z_alpha = norm.ppf(probabilidade)
z_alpha.round(2)

![Região de Aceitação](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img011.png)

---

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$z = \frac{(\bar{x_1} - \bar{x_2})-D_0}{\sqrt{\frac{s_1^2}{n_1} + \frac{s_2^2}{n_2}}}$$

In [ ]:
import numpy as np

In [ ]:
numerador = (media_amostra_H - media_amostra_M) - D_0
denominador = np.sqrt((desvio_padrao_amostra_H ** 2 / n_H)+(desvio_padrao_amostra_M ** 2 / n_M))
z = numerador / denominador
z

![Estatística-Teste](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img012.png)

---

### **Passo 5** - Aceitação ou rejeição da hipótese nula

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img014.png' width=90%>

### <font color='red'>Critério do valor crítico</font>

> ### Teste Unicaudal
> ### Rejeitar $H_0$ se $z \geq z_{\alpha}$

In [ ]:
z >= z_alpha

### <font color='green'>Conclusão: Com um nível de confiança de 99% rejeitamos $H_0$, isto é, concluímos que a média das rendas dos chefes de domicílios do sexo masculino é maior que a média das rendas das chefes de domicílios do sexo feminino. Confirmando a alegação de desigualdade de renda entre os sexos.</font>

### Critério do p-valor

`Teste Unicaudal`

`Rejeitar H0 se o valor p <= alpha`

https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.DescrStatsW.html
https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.CompareMeans.ttest_ind.html

In [ ]:
from statsmodels.stats.weightstats import DescrStatsW, CompareMeans

In [ ]:
dados = pd.read_csv('dados.csv')

In [ ]:
homens = dados.query('Sexo == 0').sample(n = 500, random_state = 101).Renda
mulheres = dados.query('Sexo == 1').sample(n = 500, random_state = 101).Renda

In [ ]:
test_H = DescrStatsW(homens)

In [ ]:
test_M = DescrStatsW(mulheres)

In [ ]:
test = test_H.get_compare(test_M)

In [ ]:
test_A = test_H.get_compare(test_M)

In [ ]:
test.ztest_ind(alternative='larger', value=0)

In [ ]:
test_A = test_H.get_compare(test_M)
z, p_valor = test_A.ztest_ind(alternative='larger', value=0)
print(p_valor)

test_B = CompareMeans(test_H, test_M)
z, p_valor = test_B.ztest_ind(alternative='larger', value=0)
print(p_valor)

p_valor <= significancia

### Outra solução é com o 'CompareMeans'

In [ ]:
test = CompareMeans(test_H, test_M)

In [ ]:
test_A = test_H.get_compare(test_M)
z, p_valor = test_A.ztest_ind(alternative='larger', value=0)
print(p_valor)

In [ ]:
# Este teste NÃO precisa, é apenas para confirmar que chegamos aos mesmo valor de do p-valor
test_B = CompareMeans(test_H, test_M)
z, p_valor = test_B.ztest_ind(alternative='larger', value=0)
print(p_valor)

In [ ]:
p_valor <= significancia

Um fabricante de cosméticos afirma que a adição de um novo composto químico em sua linha de shampoos consegue promover em mais de 2 centímetros o crescimento dos fios de cabelo em um período de 60 dias. Duas amostras de pessoas foram selecionadas e testadas, uma utilizando o shampoo novo (com o composto) e a outra com o shampoo antigo (sem o composto).

Os resultados (crescimento dos fios de cabelo em centímetros) podem ser verificados na tabela abaixo:

Shampoo Novo	Shampoo Antigo
    3,4	             0,3
    4,9	             1,2
    2,8	             1,2
    5,5	             1,7
    3,7	             1,1
    2,5	             0,6
    4,3	             1,2
    4,6	             1,5
    3,7	             0,5
    3,4	             0,7

Dados da tabela acima:

shampoo_Novo = pd.Series([3.4, 4.9, 2.8, 5.5, 3.7, 2.5, 4.3, 4.6, 3.7, 3.4])
shampoo_Antigo = pd.Series([0.3, 1.2, 1.2, 1.7, 1.1, 0.6, 1.2, 1.5, 0.5, 0.7])

Assumindo um nível de confiança de 95% e considerando que as populações se distribuem como uma normal, podemos acreditar na afirmação do fabricante do shampoo? Assinale a alternativa que apresenta a estatística de teste e a decisão correta do teste.

Um pouco mais de teoria: como se trata de um problema um pouco diferente do apresentado em nossa aula, vamos esclarecer alguns pontos para ajudar na solução:

1) Em testes entre duas amostras, quando realizamos a escolha da distribuição amostral adequada (passo 2) e perguntamos se n ≥ 30, temos que considerar que n = n1 + n2, onde n1 é o tamanho da primeira amostra e n2 o tamanho da segunda;

2) Quando n1 + n2 ≥ 30, utilizamos z (normal), e quando n1 + n2 < 30, σ não for conhecido e as populações forem normalmente distribuídas, utilizamos t (t-Student);

3) Quando utilizamos a tabela t de Student, em teste de duas amostras, os graus de liberdade são obtidos da seguinte forma: n1 + n2 - 2;

4) Quando o problema nos pergunta se podemos acreditar na afirmação do fabricante, está nos indicando o que devemos testar, ou seja, a nossa hipótese alternativa (H1), que no caso é:

Onde:

    μ1 = Crescimento médio dos cabelos com o uso do novo shampoo
    μ2 = Crescimento médio dos cabelos com o uso do shampoo antigo.

5) Em nosso próximo vídeo, utilizaremos o ztest_ind() para solucionar problemas como este. Um teste similar ao ztest_ind(), que utiliza a distribuição t de Student, é o ttest_ind(). Aqui, você será redirecionado para a documentação. Observe que o ttest_ind() retorna a estatística de teste, o p-valor e também os graus de liberdade.

In [24]:
from scipy.stats import t as t_student
import numpy as np
import pandas as pd

In [ ]:
shampoo_Novo = pd.Series([3.4, 4.9, 2.8, 5.5, 3.7, 2.5, 4.3, 4.6, 3.7, 3.4])
shampoo_Antigo = pd.Series([0.3, 1.2, 1.2, 1.7, 1.1, 0.6, 1.2, 1.5, 0.5, 0.7])

In [ ]:
media_new = shampoo_Novo.mean()
media_new

In [ ]:
desvio_padrao_new = shampoo_Novo.std()
desvio_padrao_new

In [ ]:
media_old = shampoo_Antigo.mean()
media_old

In [ ]:
desvio_padrao_old = shampoo_Antigo.std()
desvio_padrao_old

In [ ]:
significancia = 0.05
confianca = 1 - significancia
new = 10
old = 10
D_0 = 2
graus_de_liberdade = new + old -2

In [ ]:
t_alpha = t_student.ppf(confianca, graus_de_liberdade)
t_alpha

In [ ]:
numerador = (media_new - media_old) - D_0
denominador = np.sqrt((desvio_padrao_new ** 2 / new)+(desvio_padrao_old ** 2 / old))
t = numerador / denominador
print('t =', round(t, 4))

In [ ]:
if(t >= t_alpha):
    print('Rejeitar H0')
else:
    print('Aceitar H0')

---

# <font color=green>4 TESTES NÃO PARAMÉTRICOS</font>
***

O trabalho com pequenas amostras pode levar a não aceitação da validade do teorema central do limite e também na impossibilidade de fazer suposições sobre a distribuição da variável avaliada. Quando isso ocorre torna-se necessária a aplicação de testes não paramétricos. Nos testes não paramétricos, não fazemos hipóteses sobre a distribuição (de probabilidade) das quais as observações são extraídas.

## <font color='red'>Problema</font>

Antes de cada partida do campeonato nacional de futebol, as moedas utilizadas pelos árbitros devem ser verificadas para se ter certeza de que não são viciadas, ou seja, que não tendam para determinado resultado. Para isso um teste simples deve ser realizado antes de cada partida. Este teste consiste em lançar a moeda do jogo **50 vezes** e contar as frequências de **CARAS** e **COROAS** obtidas. A tabela abaixo mostra o resultado obtido no experimento:

||CARA|COROA|
|-|-|-|
|Observado|17|33|
|Esperado|25|25|

A um **nível de significância de 5%**, é possível afirmar que a moeda não é honesta, isto é, que a moeda apresenta uma probabilidade maior de cair com a face **CARA** voltada para cima?

## <font color=green>4.1 Teste do Qui-Quadrado ( $\chi^2$)</font>
***

Também conhecido como teste de adequação ao ajustamento, seu nome se deve ao fato de utilizar uma variável estatística padronizada, representada pela letra grega qui ( $\chi$) elevada ao quadrado. A tabela com os valores padronizados e como obtê-la podem ser vistos logo abaixo.

O teste do $\chi^2$ testa a hipótese nula de não haver diferença entre as frequências observadas de um determinado evento e as frequências que são realmente esperadas para este evento.

Os passos de aplicação do teste são bem parecidos aos vistos para os testes paramétricos.

![Região de Aceitação](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img017.png)

### Construindo tabela $\chi^2$
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi.html

In [ ]:
import pandas as pd
from scipy.stats import chi

tabela_t_chi_2 = pd.DataFrame(
    [], 
    index=[i for i in range(1, 31)],
    columns = [0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.975, 0.95, 0.99, 0.995]
)

for index in tabela_t_chi_2.index:
    for column in tabela_t_chi_2.columns:
        tabela_t_chi_2.loc[index, column] = "{0:0.4f}".format(chi.ppf(float(column), index)**2)

tabela_t_chi_2.index.name='Graus de Liberdade'
tabela_t_chi_2.rename_axis(['p'], axis=1, inplace = True)

tabela_t_chi_2

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img016.png' width='250px'>

Tabela com os valores de $\chi_p^2$ em função dos graus de liberdade $(n - 1)$ e de $p = P(\chi^2 \leq \chi_p^2)$

## <font color='red'>Problema</font>

Antes de cada partida do campeonato nacional de futebol, as moedas utilizadas pelos árbitros devem ser verificadas para se ter certeza de que não são viciadas, ou seja, que não tendam para determinado resultado. Para isso um teste simples deve ser realizado antes de cada partida. Este teste consiste em lançar a moeda do jogo **50 vezes** e contar as frequências de **CARAS** e **COROAS** obtidas. A tabela abaixo mostra o resultado obtido no experimento:

||CARA|COROA|
|-|-|-|
|Observado|17|33|
|Esperado|25|25|

A um **nível de significância de 5%**, é possível afirmar que a moeda não é honesta, isto é, que a moeda apresenta uma probabilidade maior de cair com a face **CARA** voltada para cima?

---

### Dados do problema

In [ ]:
F_Observada = [17, 33]
F_Esperada = [25, 25]
significancia = 0.05
confianca = 1 - significancia
k = 2 #número de eventos possíveis - k equivale ao n
graus_de_liberdade = k - 1

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$

#### <font color='red'>Lembre-se, a hipótese nula sempre contém a alegação de igualdade</font>

### $H_0: F_{CARA} = F_{COROA}$

### $H_1: F_{CARA} \neq F_{COROA}$

---

### **Passo 2** - fixação da significância do teste ($\alpha$)

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi.html

In [ ]:
from scipy.stats import chi

In [ ]:
tabela_t_chi_2[:3]

### Obtendo $\chi_{\alpha}^2$

In [ ]:
# Achado o valor do chi² quando não temos uma tabela
chi_2_alpha = chi.ppf(confianca, graus_de_liberdade) ** 2
chi_2_alpha
# Chegamso ao mesmo valor da tabela 3,84

![Região de Aceitação](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img018.png)

---

### **Passo 3** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$\chi^2 = \sum_{i=1}^{k}{\frac{(F_{i}^{Obs} - F_{i}^{Esp})^2}{F_{i}^{Esp}}}$$

Onde

$F_{i}^{Obs}$ = frequência observada para o evento $i$

$F_{i}^{Esp}$ = frequência esperada para o evento $i$

$k$ = total de eventos possíveis

In [ ]:
chi_2 = ((F_Observada[0] - F_Esperada[0]) ** 2 / F_Esperada[0]) + ((F_Observada[1] - F_Esperada[1]) ** 2 / F_Esperada[1])
chi_2

In [ ]:
# Calculando o chi² de outra forma
chi_2 = 0
for i in range(k):
    chi_2 += (F_Observada[i] - F_Esperada[i]) ** 2 / F_Esperada[i]

chi_2

![Estatística-Teste](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img019.png)

---

### **Passo 4** - Aceitação ou rejeição da hipótese nula

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img020.png' width=80%>

### <font color='red'>Critério do valor crítico</font>

> ### Rejeitar $H_0$ se $\chi_{teste}^2 > \chi_{\alpha}^2$

In [ ]:
chi_2 > chi_2_alpha

### <font color='green'>Conclusão: Com um nível de confiança de 95% rejeitamos a hipótese nula ($H_0$) e concluímos que as frequências observadas e esperadas são discrepantes, ou seja, a moeda não é honesta e precisa ser substituída.</font>

### <font color='red'>Critério do valor $p$</font>

> ### Rejeitar $H_0$ se o valor $p\leq\alpha$

In [ ]:
import numpy as np

In [ ]:
chi_2

In [ ]:
raiz_chi_2 = np.sqrt(chi_2)
raiz_chi_2

In [ ]:
# P-Valo menor do que 0,05 rejeita-se a hipótese nula
p_valor = chi.sf(raiz_chi_2, df=1)
p_valor

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chisquare.html

In [ ]:
# Oura forma de realizar o teste o CHI² em python
from scipy.stats import chisquare

In [ ]:
# Com apenas uma linha de comando emos o valor do chi² e do p-valor
chisquare(f_obs = F_Observada, f_exp = F_Esperada)

In [ ]:
p_valor <= significancia

#### Exercício

A realização de um teste não paramétrico Qui-quadrado, com apenas 5 graus de liberdade, obteve-se a estatística de teste no valor de 7,45.

Qual seria o p-valor para este teste?

In [ ]:
chi_2 = 7.45
graus_de_liberdade = 5
raiz_chi_2 = np.sqrt(chi_2)
print(f'O valor de CHI é igual a: {raiz_chi_2}')

p_valor = chi.sf(raiz_chi_2, df=graus_de_liberdade)
print(f'O valor de p-valor é igual a: {p_valor}')

---

## <font color='red'>Problema</font>

Um novo tratamento para acabar com o hábito de fumar está sendo empregado em um grupo de **35 pacientes** voluntários. De cada paciente testado foram obtidas as informações de quantidades de cigarros consumidos por dia antes e depois do término do tratamento. Assumindo um **nível de confiança de 95%** é possível concluir que, depois da aplicação do novo tratamento, houve uma mudança no hábito de fumar do grupo de pacientes testado?

## <font color=green>4.2 Teste Wilcoxon</font>
### Comparação de duas populações - amostras dependentes
***

Empregado quando se deseja comparar duas amostras relacionadas, amostras emparelhadas. Pode ser aplicado quando se deseja testar a diferença de duas condições, isto é, quando um mesmo elemento é submetido a duas medidas.

### Dados do problema

In [76]:
fumo = {
    'Antes': [39, 25, 24, 50, 13, 52, 21, 29, 10, 22, 50, 15, 36, 39, 52, 48, 24, 15, 40, 41, 17, 12, 21, 49, 14, 55, 46, 22, 28, 23, 37, 17, 31, 49, 49],
    'Depois': [16, 8, 12, 0, 14, 16, 13, 12, 19, 17, 17, 2, 15, 10, 20, 13, 0, 4, 16, 18, 16, 16, 9, 9, 18, 4, 17, 0, 11, 14, 0, 19, 2, 9, 6]
}
significancia = 0.05
confianca = 1 - significancia
n = 35

In [77]:
fumo = pd.DataFrame(fumo)
fumo.head()

   Antes  Depois
0     39      16
1     25       8
2     24      12
3     50       0
4     13      14

In [ ]:
media_antes = fumo.Antes.mean()
media_antes

In [ ]:
media_depois = fumo.Depois.mean()
media_depois

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$

#### <font color='red'>Lembre-se, a hipótese nula sempre contém a alegação de igualdade</font>

### $H_0: \mu_{antes} = \mu_{depois}$

### $H_1: \mu_{antes} > \mu_{depois}$

---

### **Passo 2** - escolha da distribuição amostral adequada

### O tamanho da amostra é maior que 20?
#### Resp.: Sim

---

### **Passo 3** - fixação da significância do teste ($\alpha$)

### Obtendo $z_{\alpha/2}$

In [ ]:
from scipy.stats import norm

In [ ]:
probabilidade = (0.5 + (confianca / 2))
probabilidade

In [ ]:
z_alpha_2 = norm.ppf(probabilidade)
z_alpha_2.round(2)

![Região de Aceitação](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img006.png)

---

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$Z = \frac{T - \mu_T}{\sigma_T}$$

Onde

## $T$ = menor das somas de postos de mesmo sinal

# $$\mu_T = \frac{n(n+1)}{4}$$
# $$\sigma_T = \sqrt{\frac{n(n + 1)(2n + 1)}{24}}$$

### Construindo a tabela com os postos

In [ ]:
fumo

In [ ]:
fumo['Dif'] = fumo.Depois - fumo.Antes
fumo

In [ ]:
fumo['|Dif|'] = fumo.Dif.abs()
fumo

In [ ]:
fumo.sort_values(by='|Dif|', inplace = True)
fumo

In [ ]:
fumo['Posto'] = range(1, len(fumo) + 1)
fumo

In [ ]:
posto = fumo[['|Dif|', 'Posto']].groupby(['|Dif|']).mean()
posto

In [ ]:
posto.reset_index(inplace=True)
posto

In [ ]:
fumo.drop(['Posto'], axis=1, inplace=True)
fumo

In [ ]:
fumo = fumo.merge(posto, left_on='|Dif|', right_on='|Dif|', how='left')
fumo

In [ ]:
fumo['Posto (+)'] = fumo.apply(lambda x: x.Posto if x.Dif > 0 else 0, axis=1)
fumo

In [ ]:
fumo['Posto (-)'] = fumo.apply(lambda x: x.Posto if x.Dif < 0 else 0, axis=1)
fumo

In [ ]:
fumo.drop(['Posto'], axis=1, inplace=True)
fumo

### Obter $T$

## $T$ = menor das somas de postos de mesmo sinal

In [ ]:
T = min(fumo['Posto (+)'].sum(), fumo['Posto (-)'].sum())
T

### Obter $\mu_T$

# $$\mu_T = \frac{n(n+1)}{4}$$

In [ ]:
mu_T = (n * (n + 1)) / 4
mu_T

### Obter $\sigma_T$

# $$\sigma_T = \sqrt{\frac{n(n + 1)(2n + 1)}{24}}$$

In [ ]:
sigma_T = np.sqrt((n * (n + 1) * ((2 * n) + 1)) / 24)
sigma_T

### Obter $Z_{teste}$

# $$Z = \frac{T - \mu_T}{\sigma_T}$$

In [ ]:
Z = (T - mu_T) / sigma_T
Z

![Estatística-Teste](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img021.png)

---

### **Passo 5** - Aceitação ou rejeição da hipótese nula

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img022.png' width='80%'>

### <font color='red'>Critério do valor crítico</font>

> ### Rejeitar $H_0$ se $Z \leq -z_{\alpha / 2}$ ou se $Z \geq z_{\alpha / 2}$

In [ ]:
# Como Z é menor que '-z_alpha_2'rejeita-se H0
Z <= -z_alpha_2

In [ ]:
Z >= z_alpha_2

### <font color='green'>Conclusão: Rejeitamos a hipótese de que não existe diferença entre os grupos, isto é, existe uma diferença entre as médias de cigarros fumados pelos pacientes antes e depois do tratamento. E como é possível verificar através das médias de cigarros fumados por dia antes (31.86) e depois (11.2) do tratamento, podemos concluir que o tratamento apresentou resultado satisfatório.</font>

### <font color='red'>Critério do valor $p$</font>

> ### Rejeitar $H_0$ se o valor $p\leq\alpha$

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.wilcoxon.html

In [4]:
from scipy.stats import wilcoxon
import pandas as pd

In [ ]:
# O primeiro resultado refe-se ao T e o segundo ao p-valor
T, p_valor = wilcoxon(fumo.Antes, fumo.Depois)
print(T)
print(p_valor)

In [ ]:
p_valor <= significancia

Desconfiado da eficiência dos cursos e materiais de estudo online da Alura, um professor resolveu realizar um teste com um grupo de 14 alunos de sua classe. Para isto, ele submeteu estes alunos a duas etapas distintas e logo depois de cada etapa, aplicou uma avaliação. Na etapa inicial, foram oferecidas aulas normais, sem a utilização do material de apoio da Alura. Na segunda etapa, foram também oferecidas aulas normais, mas com a utilização do material de apoio da Alura. As notas obtidas pelos alunos estão na tabela abaixo:
Aluno	Sem Alura	Com Alura
Aluno A	    7        	10
Aluno B	    8       	10
Aluno C	    6   	    9
Aluno D	    6       	9
Aluno E	    10  	    9
Aluno F	    4       	7
Aluno G	    2       	5
Aluno H	    5       	8
Aluno I	    9       	10
Aluno J	    2       	6
Aluno K	    4       	3
Aluno L	    9       	7
Aluno M	    1       	4
Aluno N	    10      	8

Assinale a alternativa que apresenta o resultado do teste, não paramétrico de Wilcoxon, aplicado pelo professor (estatística de teste T e decisão do teste). Considere um nível de significância de 10%.

In [7]:
curso = {
    'Com_Alura': [10, 10, 9, 9, 9, 7, 5, 8, 10, 6, 3, 7, 4, 8],
    'Sem_Alura': [7, 8, 6, 6, 10, 4, 2, 5, 9, 2, 4, 9, 1, 10]
}
significancia = 0.10
confianca = 1 - significancia
n = 35

In [8]:
curso = pd.DataFrame(curso)
curso.head()

   Com_Alura  Sem_Alura
0         10          7
1         10          8
2          9          6
3          9          6
4          9         10

In [10]:
med_com_Alura = curso.Com_Alura.mean()
med_com_Alura

7.5

In [11]:
med_sem_alura = curso.Sem_Alura.mean()
med_sem_alura

5.928571428571429

In [12]:
# Como o p-valor é MENOR que a SIGNIFICÂNCIA (0.10) rejeita-se a hipótese NULA e aceita-se a hipótese alternativa.
T, p_valor = wilcoxon(curso.Sem_Alura, curso.Com_Alura)
print(T)
print(p_valor)

14.0
0.013427734375

---

## <font color='red'>Problema</font>

Em nosso dataset temos os rendimento dos chefes de domicílio obtidos da Pesquisa Nacional por Amostra de Domicílios - PNAD no ano de 2015. Um problema bastante conhecido em nosso país diz respeito a desigualdade de renda, principalmente entre homens e mulheres.

Duas amostras aleatórias, uma de **6 homens** e outra com **8 mulheres**, foram selecionadas em nosso dataset. Com o objetivo de comprovar tal desigualdade **teste a igualdade das médias** entra estas duas amostras com um nível de **significância de 5%**.

## <font color=green>4.3 Teste de Mann-Whitney</font>
### Comparação de duas populações - amostras independentes
***

Mann-Whitney é um teste não paramétrico utilizado para verificar se duas amostras independentes foram selecionadas a partir de populações que têm a mesma média. Por ser um teste não paramétrico, Mann-Whitney torna-se uma alternativa ao teste paramétrico de comparação de médias.

### Seleção das amostras

In [13]:
dados = pd.read_csv('dados.csv')

In [17]:
mulheres = dados.query('Sexo == 1 and Renda > 0').sample(n = 8, random_state = 101).Renda

In [19]:
homens = dados.query('Sexo == 0 and Renda > 0').sample(n = 6, random_state = 101).Renda

### Dados do problema

In [20]:
media_amostra_M = mulheres.mean()
media_amostra_M

1090.75

In [21]:
media_amostra_H = homens.mean()
media_amostra_H

1341.6666666666667

In [22]:
significancia = 0.05
confianca = 1 - significancia
n_1 = len(homens) # O N1 deve ser atribuído a amostra MENOR
n_2 = len(mulheres)

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$

#### <font color='red'>Lembre-se, a hipótese nula sempre contém a alegação de igualdade</font>

### $\mu_m \Rightarrow$ Média das rendas dos chefes de domicílios do sexo feminino
### $\mu_h \Rightarrow$ Média das rendas dos chefes de domicílios do sexo masculino

### $
\begin{cases}
H_0: \mu_m = \mu_h\\
H_1: \mu_m < \mu_h
\end{cases}
$

---

### **Passo 2** - escolha da distribuição amostral adequada

Deve-se optar pela distribuição **$t$ de Student**, já que nada é mencionado sobre a distribuição da população, o desvio padrão populacional é desconhecido e o número de elementos investigados é menor que 30.

---

### **Passo 3** - fixação da significância do teste ($\alpha$)

### Obtendo $t_{\alpha}$

In [23]:
graus_de_liberdade = n_1 + n_2 - 2
graus_de_liberdade

12

In [27]:
tabela_t_student[10:13]

Bicaudal                          0.100     0.090     0.080     0.070  \
Unicaudal                         0.050     0.045     0.040     0.035
Graus de Liberdade (n - 1) 11  1.795885  1.858772  1.928427  2.006663
                           12  1.782288  1.844015  1.912313  1.988934
                           13  1.770933    1.8317  1.898874  1.974158

Bicaudal                          0.060     0.050     0.040     0.030  \
Unicaudal                         0.030     0.025     0.020     0.015
Graus de Liberdade (n - 1) 11  2.096139  2.200985   2.32814  2.490664
                           12  2.076441  2.178813  2.302722    2.4607
                           13  2.060038  2.160369  2.281604  2.435845

Bicaudal                          0.020     0.010
Unicaudal                         0.010     0.005
Graus de Liberdade (n - 1) 11  2.718079  3.105807
                           12  2.680998   3.05454
                           13  2.650309  3.012276

In [28]:
t_alpha = t_student.ppf(significancia, graus_de_liberdade)
t_alpha.round(2)

-1.78

![Região de Aceitação](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img023.png)

---

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste
## 1. Definir os n's:
### $n_1$ = nº de elementos do menor grupo
### $n_2$ = nº de elementos do maior grupo
---
## 2. Obter a soma dos postos
### $R_1$ = soma dos postos do grupo $n_1$
### $R_2$ = soma dos postos do grupo $n_2$
---
## 3. Obter as estatísticas
# $$u_1 = n_1 \times n_2 + \frac{n_1 \times (n_1 + 1)}{2} - R_1$$
# $$u_2 = n_1 \times n_2 + \frac{n_2 \times (n_2 + 1)}{2} - R_2$$
---
## 4. Selecionar o menor U
# $$u = min(u_1, u_2)$$
---
## 5. Obter a estatística de teste
# $$Z = \frac{u - \mu{(u)}}{\sigma{(u)}}$$

Onde

# $$\mu{(u)} = \frac{n_1 \times n_2}{2}$$
# $$\sigma{(u)} = \sqrt{\frac{n_1 \times n_2 \times (n_1 + n_2 + 1)}{12}}$$

### Obtendo os postos

In [42]:
H = pd.DataFrame(homens)
H['Sexo'] = 'Homens'
H

       Renda    Sexo
67872   1200  Homens
30211   2000  Homens
64406    850  Homens
26519    800  Homens
61540   2000  Homens
17422   1200  Homens

In [43]:
M = pd.DataFrame(mulheres)
M['Sexo'] = 'Mulheres'
M

       Renda      Sexo
6251    1100  Mulheres
34764    400  Mulheres
40596    788  Mulheres
11303   4300  Mulheres
22733    250  Mulheres
24707    400  Mulheres
60340    700  Mulheres
17035    788  Mulheres

In [44]:
sexo = H.append(M)
sexo.reset_index(inplace = True, drop = True)
sexo

C:\Users\Fabiano\AppData\Local\Temp\ipykernel_8396\2963054686.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sexo = H.append(M)

    Renda      Sexo
0    1200    Homens
1    2000    Homens
2     850    Homens
3     800    Homens
4    2000    Homens
5    1200    Homens
6    1100  Mulheres
7     400  Mulheres
8     788  Mulheres
9    4300  Mulheres
10    250  Mulheres
11    400  Mulheres
12    700  Mulheres
13    788  Mulheres

In [45]:
sexo.sort_values(by = 'Renda', inplace = True)
sexo

    Renda      Sexo
10    250  Mulheres
7     400  Mulheres
11    400  Mulheres
12    700  Mulheres
8     788  Mulheres
13    788  Mulheres
3     800    Homens
2     850    Homens
6    1100  Mulheres
0    1200    Homens
5    1200    Homens
1    2000    Homens
4    2000    Homens
9    4300  Mulheres

In [46]:
sexo['Posto'] = range(1, len(sexo) + 1)
sexo

    Renda      Sexo  Posto
10    250  Mulheres      1
7     400  Mulheres      2
11    400  Mulheres      3
12    700  Mulheres      4
8     788  Mulheres      5
13    788  Mulheres      6
3     800    Homens      7
2     850    Homens      8
6    1100  Mulheres      9
0    1200    Homens     10
5    1200    Homens     11
1    2000    Homens     12
4    2000    Homens     13
9    4300  Mulheres     14

In [47]:
posto = sexo[['Renda', 'Posto']].groupby(['Renda']).mean()
posto

       Posto
Renda
250      1.0
400      2.5
700      4.0
788      5.5
800      7.0
850      8.0
1100     9.0
1200    10.5
2000    12.5
4300    14.0

In [48]:
posto.reset_index(inplace = True)
posto

   Renda  Posto
0    250    1.0
1    400    2.5
2    700    4.0
3    788    5.5
4    800    7.0
5    850    8.0
6   1100    9.0
7   1200   10.5
8   2000   12.5
9   4300   14.0

In [49]:
sexo.drop(['Posto'], axis = 1, inplace = True)
sexo

    Renda      Sexo
10    250  Mulheres
7     400  Mulheres
11    400  Mulheres
12    700  Mulheres
8     788  Mulheres
13    788  Mulheres
3     800    Homens
2     850    Homens
6    1100  Mulheres
0    1200    Homens
5    1200    Homens
1    2000    Homens
4    2000    Homens
9    4300  Mulheres

In [50]:
sexo = sexo.merge(posto, left_on = 'Renda', right_on = 'Renda', how = 'left')
sexo

    Renda      Sexo  Posto
0     250  Mulheres    1.0
1     400  Mulheres    2.5
2     400  Mulheres    2.5
3     700  Mulheres    4.0
4     788  Mulheres    5.5
5     788  Mulheres    5.5
6     800    Homens    7.0
7     850    Homens    8.0
8    1100  Mulheres    9.0
9    1200    Homens   10.5
10   1200    Homens   10.5
11   2000    Homens   12.5
12   2000    Homens   12.5
13   4300  Mulheres   14.0

### Obtendo $R$

### $R_1$ = soma dos postos do grupo $n_1$
### $R_2$ = soma dos postos do grupo $n_2$

In [51]:
# Criação de uma variável temporária para agrupar os Postos por sexo
Temp = sexo[['Sexo', 'Posto']].groupby('Sexo').sum()
Temp

          Posto
Sexo
Homens     61.0
Mulheres   44.0

In [52]:
R_1 = Temp.loc['Homens'][0]
R_1

61.0

In [57]:
R_2 = Temp.loc['Mulheres'][0]
R_2

44.0

### Obter $u$

# $$u_1 = n_1 \times n_2 + \frac{n_1 \times (n_1 + 1)}{2} - R_1$$
# $$u_2 = n_1 \times n_2 + \frac{n_2 \times (n_2 + 1)}{2} - R_2$$

# $$u = min(u_1, u_2)$$

In [58]:
u_1 = n_1 * n_2 + ((n_1 * (n_1 + 1)) / (2)) - R_1
u_1

8.0

In [60]:
u_2 = n_1 * n_2 + ((n_2 * (n_2 + 1)) / (2)) - R_2
u_2

40.0

In [61]:
u = min(u_1, u_2)
u

8.0

### Obter $\mu{(u)}$

# $$\mu{(u)} = \frac{n_1 \times n_2}{2}$$

In [63]:
mu_u = (n_1 * n_2) / 2
mu_u

24.0

### Obter $\sigma{(u)}$

# $$\sigma{(u)} = \sqrt{\frac{n_1 \times n_2 \times (n_1 + n_2 + 1)}{12}}$$

In [64]:
sigma_u = np.sqrt(n_1 * n_2 * (n_1 + n_2 +1) / 12)
sigma_u

7.745966692414834

### Obter $Z$

# $$Z = \frac{u - \mu{(u)}}{\sigma{(u)}}$$

In [65]:
Z = (u - mu_u) / sigma_u
Z.round(2)

-2.07

![Estatística-Teste](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img024.png)

---

### **Passo 5** - Aceitação ou rejeição da hipótese nula

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img025.png' width='80%'>

### <font color='red'>Critério do valor crítico</font>

> ### Rejeitar $H_0$ se $Z \leq -t_{\alpha}$

In [66]:
Z <= t_alpha

True

### <font color='green'>Conclusão: Rejeitamos a hipótese de que não existe diferença entre os grupos, isto é, concluímos que a média das rendas dos chefes de domicílios do sexo feminino é menor que a média das rendas dos chefes de domicílios do sexo masculino. Confirmando a alegação de desigualdade de renda entre os sexos.</font>

### <font color='red'>Critério do valor $p$</font>

> ### Rejeitar $H_0$ se o valor $p\leq\alpha$

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mannwhitneyu.html

In [68]:
from scipy.stats import mannwhitneyu

In [70]:
# A ordem das hipóteses na função é importante, desta forma, como o sexo feminino é a hipótese 1,
# na função esta hipótese deve vir primeiro.

### $\mu_m \Rightarrow$ Média das rendas dos chefes de domicílios do sexo feminino
### $\mu_h \Rightarrow$ Média das rendas dos chefes de domicílios do sexo masculino

u, p_valor = mannwhitneyu(mulheres, homens, alternative = 'less')
print(u)
print(p_valor)

8.0
0.022221119551528605

In [72]:
if (p_valor < significancia):
    print('Rejeitar H0')
else:
    print('Aceitar H0')

Rejeitar H0

### Exercício

Um professor acredita que alunos que praticam exercícios físicos têm uma performance média escolar superior àquela obtida por alunos que não praticam. Para provar sua teoria, selecionou duas amostras aleatórias, uma com 9 alunos que não praticam exercícios físicos e outra com 10 alunos que cultivam o hábito de se exercitar. A tabela abaixo mostra as notas dos alunos no último ano:

Sem exercícios	Com exercícios

    7           	8
    6           	7
    7           	6
    8           	6
    6           	8
    8           	6
    6	        10
    9           	6
    5           	7
                	8


Teste a hipótese da média das notas dos alunos que praticam exercícios ser maior que a média das notas dos alunos que não praticam. Assinale a alternativa que apresenta o resultado do teste (estatística de teste u e decisão do teste). Considere um nível de significância de 10%.

In [81]:
Sem_exercicios = {'Sem_exercicio': [7, 6, 7, 8, 6, 8, 6, 9, 5]}
Com_exercicios = {'Com_exercicio': [8, 7, 6, 6, 8, 6, 10, 6, 7, 8]}

significancia = 0.10
confianca = 1 - significancia
n = 19

In [82]:
Com_exercicios = pd.DataFrame(Com_exercicios)
Sem_exercicios = pd.DataFrame(Sem_exercicios)

In [85]:
u, p_valor = mannwhitneyu(Com_exercicios, Sem_exercicios, alternative = 'less')
print(u)
print(p_valor)

[50.]
[0.67976249]

In [86]:
if (p_valor < significancia):
    print('Rejeitar H0')
else:
    print('Aceitar H0')

Aceitar H0

---